In [20]:
import pandas as pd
import numpy as np

In [ ]:
# this project is for calculating income of people resding in a area monro as example. 
#so that we acan open a luxury car showroom.

In [3]:
# Knowledge # 


# Skipping rows at specific position
df = pd.read_csv("students.csv",
				skiprows = [0, 2, 5])

# Show the dataframe
df

FileNotFoundError: [Errno 2] No such file or directory: 'students.csv'

In [5]:
 # skiprows use to skip rows in new dataframe

NameError: name 'pd' is not defined

In [21]:

df = pd.read_csv("income.csv", names = ['name', 'income'], skiprows=[0])
df

        name    income
0        Rob      5000
1      Rafiq      6000
2       Nina      4000
3      Sofia      7500
4      Mohan      8000
5        Tao      7000
6  Elon Musk  10000000

In [3]:
https://www.machinelearningplus.com/pandas/pandas-describe/#:~:text=By%20default%2C%20the%20describe%20function,parameter%20of%20the%20describe%20function.&text=Specifying%20include%3D'all'%20will,of%20features%20in%20the%20dataframe.
    
The describe() method returns description of the data in the DataFrame.

If the DataFrame contains numerical data, the description contains these information for each column:

count - The number of not-empty values.
mean - The average (mean) value.
std - The standard deviation.
min - the minimum value.
25% - The 25% percentile*.
50% - The 50% percentile*.
75% - The 75% percentile*.
max - the maximum value.

SyntaxError: invalid syntax (Temp/ipykernel_12816/892646429.py, line 1)

In [ ]:
"""

DataFrame.count(axis=0, level=None, numeric_only=False)[source]
Count non-NA cells for each column or row.

The values None, NaN, NaT, and optionally numpy.inf (depending on pandas.options.mode.use_inf_as_na) are considered NA.

Parameters
axis{0 or ‘index’, 1 or ‘columns’}, default 0
If 0 or ‘index’ counts are generated for each column. If 1 or ‘columns’ counts are generated for each row.

levelint or str, optional
If the axis is a MultiIndex (hierarchical), count along a particular level, collapsing into a DataFrame. 
A str specifies the level name.

numeric_onlybool, default False
Include only float, int or boolean data.

"""

In [23]:
#.apply(lambda s: s.apply('{0:.2f}'.format))
#.apply(lambda s: s.apply('{0:.2f}'.format))
df.describe().apply(lambda s: s.apply('{0:.2f}'.format))

            income
count         7.00
mean    1433928.57
std     3777282.71
min        4000.00
25%        5500.00
50%        7000.00
75%        7750.00
max    10000000.00

In [ ]:
https://towardsdatascience.com/8-commonly-used-pandas-display-options-you-should-know-a832365efa95
https://www.youtube.com/watch?v=a9UrKTVEeZA
Intro to Data Analysis / Visualization with Python, Matplotlib and Pandas | Matplotlib Tutorial

In [24]:
df.income.quantile(0.25)
#25% quantile

5500.0

In [9]:
df.income.quantile(0.75)
#75% quantile

7750.0

In [25]:
df.income.quantile(0.99)

9400479.999999994

In [11]:
percentile_99 = df.income.quantile(0.99)
percentile_99

9400479.999999994

In [26]:
# Here we have remove the outlier and save value in new var df_no_outlier
df_no_outlier = df[df.income <= percentile_99]
df_no_outlier

    name  income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000
5    Tao    7000

In [35]:
# Now let suppose sofia income is NaN and we have predict salary/income of Sofia the instead of mean we have to use median 
# becoz mean will be high becoz of the outlier high income
# mean() function can be used to calculate mean/average of a given list of numbers. 
# It returns mean of the data set passed as parameters.
#It is a measure of the central location of data in a set of values which vary in range.

df['income'][3]=np.NaN

C:\Users\Admin\AppData\Local\Temp/ipykernel_13048/463523254.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income'][3]=np.NaN
C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
Median is the value that separates the higher half of a data sample or probability distribution from the lower half. 
For a dataset, it may be thought of as the middle value. 
The median is the measure of the central tendency of the properties of a data-set.
Median has a very big advantage over Mean,which is the median value is not skewed so much by large or small values. 
The median value is either contained in the data-set of values provided or it doesn’t sway too much from the data provided.
For odd set of elements, the median value is the middle one. 
For even set of elements, the median value is the mean of two middle elements.

In [36]:
#below example we will figure out income of Sofia with Median method
df

        name      income
0        Rob      5000.0
1      Rafiq      6000.0
2       Nina      4000.0
3      Sofia         NaN
4      Mohan      8000.0
5        Tao      7000.0
6  Elon Musk  10000000.0

In [37]:
df.income.mean()

1671666.6666666667

In [27]:
#Number of rows and columns
df.shape

(7, 2)

In [ ]:
About # fillna
Sometimes csv file has null values, which are later displayed as NaN in Data Frame.
Just like pandas dropna() method manage and remove Null values from a data frame, fillna() manages and 
let the user replace NaN values with some value of their own.
https://www.geeksforgeeks.org/python-pandas-dataframe-fillna-to-replace-null-values-in-dataframe/

In [30]:
df_new_mean = df.fillna(df.income.mean())
df_new

        name    income
0        Rob      5000
1      Rafiq      6000
2       Nina      4000
3      Sofia      7500
4      Mohan      8000
5        Tao      7000
6  Elon Musk  10000000

In [38]:
df_new_median = df.fillna(df.income.median())
df_new_median

        name      income
0        Rob      5000.0
1      Rafiq      6000.0
2       Nina      4000.0
3      Sofia      6500.0
4      Mohan      8000.0
5        Tao      7000.0
6  Elon Musk  10000000.0